VUE_APP_NAME=墨汇
VUE_APP_API_BASE_URL=https://your-unicloud-service-url.example
VUE_APP_UNICLOUD_SPACE_ID=your-unicloud-space-id
VUE_APP_UNICLOUD_CLIENT_SECRET=your-unicloud-client-secret
VUE_APP_MAP_WEBJS_KEY=your-amap-webjs-key
VUE_APP_MAP_WEBJS_SECRET=your-amap-webjs-secret
VUE_APP_MAP_WEBSERVICE_KEY=your-amap-webservice-key
VUE_APP_OSS_BUCKET=your-oss-bucket
